<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pisces</key>
	<array>
		<string>The stars are telling you to create, produce, attempt and, above all, dare. Go above and beyond what you think is possible, and you might just see it become probable.</string>
	</array>
	<key>Acquarius</key>
	<array>
		<string>Rather than letting your emotions run away with you, acknowledge that you have some very strong feelings on the topic.</string>
	</array>
	<key>Capricorn</key>
	<array>
		<string>So if someone who&apos;s dear to you says something that makes you fret and worry, don&apos;t assume anything. Especially avoid any tendency to read too much into the statement and reinterpret it.</string>
	</array>
	<key>Sagittarius</key>
	<array>
		<string>when your wants and needs are running in opposite directions, it&apos;s a good idea to go your separate ways and then meet up later. </string>
	</array>
	<key>Scorpio</key>
	<array>
		<string>Things are ready to roll your way, but you have to be willing to say the word to set things in motion. It&apos;s merely a matter of deciding how and where you want to go. </string>
	</array>
	<key>Libra</key>
	<array>
		<string>It&apos;s a good time to concentrate on the small things that enrich your life and the lives of those you care about. Your karma may get a much-needed kick-start as a result.</string>
	</array>
	<key>Virgo</key>
	<array>
		<string>Purpose and drive are simply pouring out of you, so if there&apos;s something that you&apos;ve been wanting to make progress on, now is the time. </string>
	</array>
	<key>Leo</key>
	<array>
		<string>Go ahead and turn your scrutiny to your own regal self -- specifically, to deeper matters of the heart and soul. Dare to challenge yourself on long-established patterns and relationships. </string>
	</array>
	<key>Cancer</key>
	<array>
		<string>Although your spirits are high, it might actually be a good idea to stick around the house and direct your crackling energy at matters domestic. </string>
	</array>
	<key>Gemini</key>
	<array>
		<string>Absolutely no pouting allowed! If you had a clear idea of what something was supposed to be like and it doesn&apos;t measure up to your expectations, tuck in that lower lip and face the circumstances gracefully. In fact, if you do your best to deal with the circumstances in a calm, cool and collected manner, you might just find that this &apos;disappointment&apos; ends up being exactly what you needed all along.</string>
	</array>
	<key>Taurus</key>
	<array>
		<string>A fantastic bargain awaits, but you&apos;ll have to go out of your way to find it. Scorn malls and chain stores and seek out the delightfully odd and hidden. Haunt flea markets, garage sales and make a point of going out of the way to any boutiques or specialty stores that you&apos;ve always been curious about. Something fabulous out there is seeking you, but you have to be open to receiving it. Stay curious.</string>
	</array>
	<key>Aries</key>
	<array>
		<string>Projects that are centered on home improvement are especially well favored. So if it&apos;s been far too long since you talked to mom -- and you&apos;re dying to know how you can sand and stain that table that&apos;s been sitting in your garage for ages -- you should definitely give her a call and ask for her advice.</string>
	</array>
</dict>
</plist>
